<nav class='sidebar'>
	<h1>Shopping Lists</h1>


    {{#link-to 'lists'}}<strong>Lists</strong>{{/link-to}}
</nav>

<div class='content'>
	<section class='col-1'>
        {{outlet}}
	</section>
</div>