<h2><span class='total'>{{listsCount}}</span> Lists</h2>

{{#link-to 'lists.create' class='action-create'}}Create New List{{/link-to}}

<ul class='lists'>
    {{#each list in controller}}
		<li>
            {{#link-to 'list' list}}
                {{list.name}}
            {{/link-to}}
		</li>
    {{else}}
		<li>no list</li>
    {{/each}}
</ul>

<div class='list'>
    {{outlet}}
</div>