{{outlet}}

<div class='button-group right'>
    {{#link-to 'lists.create' class='button action-create'}}Create New List{{/link-to}}
</div>

<h2><span class='total'>{{listsCount}}</span> Lists</h2>

<ul class='items'>
    {{#each list in controller}}
		<li>
            {{#link-to 'list' list class='item-title'}}
                {{list.name}}
            {{/link-to}}
		</li>
    {{else}}
		<li>no list</li>
    {{/each}}
</ul>