{{outlet}}

<h2><span class='total'>{{listsCount}}</span> Lists</h2>

<p>{{#link-to 'lists.create' class='action-create'}}Create New List{{/link-to}}</p>

<ul class='items'>
    {{#each list in controller}}
		<li>
            {{#link-to 'list' list class='item-title'}}
                {{list.name}}
            {{/link-to}}
		</li>
    {{else}}
		<li>no list</li>
    {{/each}}
</ul>