{{outlet}}

<div class='button-group right'>
    {{#link-to 'lists.create' class='button action-create'}}Create New List{{/link-to}}
</div>

<h2><span class='total'>{{listsCount}}</span> Lists</h2>

<ul class='items'>
    {{#each list in controller}}
		<li>
            <span class='list-wrapper'>
                <span class='button-group'>
                    {{#link-to 'list.edit' list class='action-edit'}}Edit{{/link-to}}
                    {{#link-to 'list.delete' list class='action-delete'}}Delete{{/link-to}}
				</span>

                {{#link-to 'list' list class='item-title'}}
                    {{list.name}}
                {{/link-to}}
            </span>
		</li>
    {{else}}
		<li class='empty'>Add a new List to start</li>
    {{/each}}
</ul>