{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit'>
        <p class='message-warning'>Are you sure you want to delete {{name}}?</p>

        {{view App.DialogButtonsView buttonSaveText='Delete' buttonSaveClass='action-delete'}}
	</form>
{{/view}}