{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit'>
        <p class='message-warning'>Are you sure you want to delete {{name}}?</p>

		<button class='action-cancel left' {{action 'cancel'}}>Cancel</button>
		<button class='action-save right' {{action 'save'}}>Save</button>
	</form>
{{/view}}