{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit'>
        {{#view App.InputView title='Name'}}
            {{input value=name}}
        {{/view}}

		<button class='action-cancel left' {{action 'cancel'}}>Cancel</button>
		<button class='action-save right' {{action 'save'}}>Save</button>
	</form>
{{/view}}