{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit' {{action 'save' on='submit'}}>
        {{#view App.InputView title='Name'}}
            {{input value=name autofocus='autofocus'}}
        {{/view}}

		<button class='action-cancel left' {{action 'cancel'}} type='reset'>Cancel</button>
		<button class='action-save right' {{action 'save'}} type='submit'>Save</button>
	</form>
{{/view}}