{{#view App.ModalView cancelAction='cancel'}}
	<form class='edit'>
		<label>
			<span class='title'>Name</span>
            {{input value=name}}
		</label>

		<button {{action 'cancel'}}>Cancel</button>
		<button {{action 'save'}}>Save</button>
	</form>
{{/view}}