* {
  outline: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

input, textarea {
  -webkit-user-select: text; }

.content-padded {
  padding: 10px; }

body {
  background: #fff; }

.topcoat-list__item {
  background: non; }
