<label>
	<span class='title'>{{view.title}}</span>

    <span class='input-container'>
        {{yield}}
	</span>

    {{#if view.error}}
	<span class='error'>{{view.error}}</span>
    {{/if}}
</label>