<div data-modal data-modal-cancel-action='cancel()'>
	<form class='edit' data-ng-submit='save'>
		<label data-label
			   data-label-title='Name'
			   data-label-errors='model.errors.name'>
			<input data-ng-model='model.name' data-ng-focus='true'/>
		</label>

		<label data-label
			   data-label-title='Quantity'
			   data-label-errors='model.errors.quantity'>
			<input data-ng-model='model.quantity'/>
		</label>

		<label data-label
			   data-label-title='Unit'
			   data-label-errors='model.errors.unit_id'>
			<select data-ng-model='model.unit_id'
					data-ng-options='unit.id as unit.name group by unit.group for unit in units'></select>
		</label>

		<div class='button-group'
			 data-app-dialog
			 data-loading='loading'
			 data-save-text='Save'
			 data-save-class='action-save'
			 data-save-action='save()'
			 data-cancel-action='cancel()'></div>
	</form>
</div>