<button class='action-cancel left' {{bind-attr disabled=isLoading}} {{action 'cancel'}} type='reset'>Cancel</button>
<button class='action-save right' {{bind-attr disabled=isLoading}} {{action 'save'}} type='submit'>Save</button>